.playlist-row:hover {
    .thumbnail-play-button {
        width:100px;
        height:auto;
        display: block;
        position:absolute;
    }
}
.thumbnail-play-button {
    width:100%;
    height:auto;
    display:none;
}
.options-menu {
    cursor: pointer;
}
.dropdown-item {
    cursor: pointer !important;
}
.modal-container {
    background-color: #343434 !important;
}
.link-light:hover {
    text-decoration: underline !important;
    cursor: pointer;
}
.playlist-modal-row {
    align-items: center;
}
.playlist-add-button:hover {
    color: #198754 !important;
    cursor: pointer;
}