.search-results {
    background-color: #343434;
    position: fixed;
    margin: 0 auto;
    width: 798px;
    top: 48px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    opacity: 0.0;
    display: unset;
}
.form-control.search-bar:focus{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.form-control.search-bar:focus + .search-button {
    border-bottom-right-radius: 0px;
}
.form-control.search-bar:focus + .search-results{
    position: absolute !important;
    display: block;
    top: 48px;
    left: auto;
    height: fit-content;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
    border-bottom: 1px solid #eee;
    opacity: 1;
}
.form-control.search-bar {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.search-button {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.search-results{
    z-index:5;
    a {
        text-decoration: none!important;
        color:#bbb!important;
    }
    a:hover {
        color:#eee!important;
        cursor: pointer;
    }
}
.search-results.search-hidden {
    display: none;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #c2c2c2;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #198754;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #197a4d;
}