.player-container {
    padding-top: 1px;
    width: 100vw;
    height: 80px;
    position: fixed;
    bottom: 0;
    top: auto;
    left:0;
    right: auto;
    display: flex;
    align-items: center;
}
.player-buttons {
    width: 200px;
}
audio {
    width: 1000px;
    height:100px;
}

audio::-webkit-media-controls-panel {
  -webkit-justify-content: center;
  height: 25px;
}

audio::-webkit-media-controls-timeline-container {
    display: block;
    background-color: red;
}

.slider {
  transition: all ease-in-out 0.1s;
  -webkit-appearance: none;
  background: #e4e4e4;
  outline: none;
  opacity: 0.7;
  height: 5px;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 8px;
}

.slider:hover {
  transition: all ease-in-out 0.1s;
  height: 7px;
}
.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #198754;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 12px;
  background: #198754;
  cursor: pointer;
}

.player-timeline {
  transition: all ease-in-out 0.1s;
  width: 100%;
  height: 5px;
  background-color: #e4e4e4;
  border-radius: 8px;
  opacity: 0.7;
  // overflow: hidden;
  position: relative;
}

.player-timeline:hover {
  transition: all ease-in-out 0.1s;
  height: 8px;
  opacity: 1;
}

.player-timeline:hover .player-dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #196d46;
  display: block;
  top: -3px;
  left: auto;
  right: -7px;
  z-index: 2;
  position: absolute;
}

.player-timeline-container {
  width:100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.player-timeline-container:hover {
  cursor: pointer;
}

.player-container:hover .player-dot{
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #196d46;
  display: block;
  top: -5px;
  left: auto;
  right: -7px;
  z-index: 2;
  position: absolute;
}

.player-timeline-container:hover .player-timeline{
  transition: all ease-in-out 0.1s;
  height: 8px;
  opacity: 1;
  cursor: pointer;
}

.player-timeline-container:hover .player-timeline .player-dot{
  top: -3px;
}

.timeline-bar {
  height: 100%;
  border-radius: 8px;
  background-color: #198754;
  position: relative;
  width: 0%; /* Initially 0% width */
  transition: width 0.1s linear; /* Smooth transition for updates */
}