.player-container {
    padding-top: 1px;
    width: 100vw;
    height: 80px;
    position: fixed;
    bottom: 0;
    top: auto;
    left:0;
    right: auto;
    display: flex;
    align-items: center;
}
.player-buttons {
    width: 200px;
}
audio {
    width: 1000px;
    height:100px;
}

audio::-webkit-media-controls-panel {
  -webkit-justify-content: center;
  height: 25px;
}

audio::-webkit-media-controls-timeline-container {
    display: block;
    background-color: red;
}

.slider {
  transition: all ease-in-out 0.1s;
  -webkit-appearance: none;
  background: #e4e4e4;
  outline: none;
  opacity: 0.7;
  height: 5px;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 8px;
}

.slider:hover {
  transition: all ease-in-out 0.1s;
  height: 7px;
}
.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #198754;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 12px;
  background: #198754;
  cursor: pointer;
}

.player-timeline {
  transition: all ease-in-out 0.1s;
  width: 100%;
  height: 5px;
  background-color: #e4e4e4;
  border-radius: 8px;
  opacity: 0.7;
  overflow: hidden;
}

.player-timeline:hover {
  transition: all ease-in-out 0.1s;
  height: 8px;
  opacity: 1;
}

.timeline-bar {
  height: 100%;
  background-color: #198754;
  width: 0%; /* Initially 0% width */
  transition: width 0.1s linear; /* Smooth transition for updates */
}